.grid-container {
  background: #e3f6f5;
  display: grid;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* overflow: scroll; */
}

.cardprofil {
  width: 800px;
  height: 400px;
  background-color: #bae8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 48px;
  margin-bottom: 48px;
}

.card-text {
  text-align: center;
  margin: 16px;
}

.card-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image img {
  height: 100%;
  object-fit: cover;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}