.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #e3f6f5 50%, #fffffe 50%, #fffffe 100%);
  }
  
  .cardprofil {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 400px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #bae8e8;
  }
  
  .card-content {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  .card-text {
    flex: 1;
    padding: 20px;
  }
  
  .card-image {
    width: 50%;
    position: relative;
    overflow: hidden;
  }
  
  .card-image img {
    position: absolute;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  