*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root,.grid-container-wrapper{
  height: 100%;
}


.grid-container-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows:3fr 0.5fr;
}

.grid-containerprojet {
  display: grid;
  grid-template-columns: 0.3fr 3px 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
}

.left-sideprojet {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-left: 64px;
  color: #272343;
}

.separatorprojet {
  height: 160px;
  background-color: #272343;
}

.right-sideprojet {
  font-size: 24px;
  text-align: justify;
  padding: 20px;
}

.svgcss{
  text-align: center;
}
.circle-svg1:hover,.circle-svg:hover{
  cursor: pointer;
}

.intituleprojet{
  margin: 8px;
  margin-bottom: 0px;
  font-size: 32px;
  color: #272343;
}

.fonctionprojet{
  margin: 8px;
  margin-top: 0px;
  font-size: 24px;
  color: #272343;
}
.descriptionprojet{
  max-width: 600px;
  margin: 8px;
  color: #272343;
}

.stackprojet{
  max-width: 600px;
  margin: 8px;
  margin-top: 16px;
}

.Laravel,.CSS,.VScode{
  display: inline-block;
  background-color: #272343;
  border: 2px solid #272343;
  color: #fff;
  padding: 10px 20px;
  margin: 8px;
  margin-left: 0px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

.grid-containerprojet.rotate {
  animation: rotate 2s ease-in-out forwards;
}

.Github {
  margin-left: 8px;
  background-color: transparent;
  color: #272343;
  border: 2px solid #272343;
  display: flex;
  border: 2px solid #272343;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  padding: 8px 12px 8px 12px;
}

.Github:hover{
  background-color: #272343;
}

.Github:hover > * {
  color:#fff;
}


.logogitprojet{
  color: #272343;
  font-size: 28px;
  margin-right: 8px;
  transition: all 0.3s ease-in-out;
}

.fontgit{
  color: #272343;
  font-size: 16px;
  align-self: center;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}