*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root,.grid-container-wrapper{
  height: 100%;
}


.grid-container-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows:3fr 0.5fr;
}

.grid-containerprojet {
  display: grid;
  grid-template-columns: 0.3fr 3px 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
}

.left-sideprojet {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-left: 64px;
  color: #272343;
}

.separatorprojet {
  height: 160px;
  background-color: #272343;
}

.right-sideprojet {
  font-size: 24px;
  text-align: justify;
  padding: 20px;
}

.svgcss{
  text-align: center;
}
.circle-svg1:hover,.circle-svg:hover{
  cursor: pointer;
}

.intituleprojet{
  margin: 8px;
  margin-bottom: 0px;
  font-size: 32px;
  color: #272343;
}

.fonctionprojet{
  margin: 8px;
  margin-top: 0px;
  font-size: 24px;
  color: #272343;
}
.descriptionprojet{
  max-width: 600px;
  margin: 8px;
  color: #272343;
}

.stackprojet{
  max-width: 600px;
  margin: 8px;
  margin-top: 16px;
}

.Laravel,.CSS,.VScode{
  display: inline-block;
  background-color: #272343;
  border: 2px solid #272343;
  color: #fff;
  padding: 10px 20px;
  margin: 8px;
  margin-left: 0px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

.grid-containerprojet.rotate {
  animation: rotate 2s ease-in-out forwards;
}

/* .my-github-btn {
  background-color: #24292e;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.my-github-btn:hover {
  background-color: #0366d6;
} */

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}