.grid-containerexp {
    background: #e3f6f5 75%;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: scroll;
  }
  
  .cardprofilexp {
    width: 950px;
    height: 400px;
    background-color: #bae8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 48px;
    margin-bottom: 48px;
  }
  
  .card-textexp {
    text-align: center;
    margin: 16px;
    color: #272343;
  }
  
  .card-imageexp {
    color: #272343;
    background: #86d3d3;
    border-radius: 0px 8px 8px 0px;
    box-shadow: outset 10px 0px 10px -5px rgba(0,0,0,0.5);
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p{
    font-weight: 500;
  }

  .icones{
    text-align: center;
    background: white;
  }

  .iconesrounded{
    text-align: center;
    background: white;
    border-radius: 0px 0px 8px 8px;
  }

  .dhuoda{
    width: 100px;
  }

  .digitales{
    width: 150px;
  }

  .technos {
    margin-top: 16px;
    background: white;
    border-radius: 8px;
  }

  .stack{
    background: #86d3d3;
    border-radius:8px 8px 0px 0px;
  }

  .logoreact, .logogitlab ,.logodocker,.logocss, .logovscode,.logovs,.logosql, .logolinux,.logophp,.logohtml,.logophpmyadmin{
    font-size: 40px;
    margin: 8px;
  }

  .logoreact{
    color: #61DBFB;
  }
  .logogitlab{
    color: #E24329;
  }

  .logodocker{
    color: #0db7ed;
  }

  .logocss{
    color: #264de4;
  }

  .logovscode{
    color: #008BD3;
  }
  .logovs{
    color: #6A1B9A;
  }
  .logosql{
    color: #326690;
  }
  .logolinux{
    color: #000000;
  }
  .logophp{
    color: #777BB3;
  }

  .logohtml{
    color: #FF5733;
  }

  .logophpmyadmin{
    color: #6C78AF;
  }
  .logomysql{
    color: #F89C0E;
    font-size: 50px;
  }

  .header{
    background: #bae8e8;
    border-radius: 8px 8px 0px 0px;
  }

  .header2{
    background: #bae8e8;
  }

  .texte{
    background: white;
  }

  .textepadding{
    background: white;
    padding: 8px;
  }