*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root,.grid-container-wrapper{
  height: 100%;
}


.grid-container-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows:3fr 0.5fr;
}

.grid-containerexp {
  display: grid;
  grid-template-columns: 0.3fr 3px 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
}

.left-side {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-right: 8px;
  color: #272343;
}

.separator {
  height: 160px;
  background-color: #272343;
}

.right-side {
  font-size: 24px;
  text-align: justify;
  padding: 20px;
}

.svgcss{
  text-align: center;
}
.circle-svg1:hover,.circle-svg:hover{
  cursor: pointer;
}

.intitule{
  margin: 8px;
  margin-bottom: 0px;
  font-size: 32px;
  color: #272343;
}

.fonction{
  margin: 8px;
  margin-top: 0px;
  font-size: 24px;
  color: #272343;
}
.description{
  max-width: 600px;
  margin: 8px;
  color: #272343;
}

.formation{
  max-width: 600px;
  margin: 8px;
  color: #272343;
}
.entreprise{
  text-decoration: underline;
}
.entreprise:hover{
  cursor: pointer;
}

.entreprise:visited{
  color: inherit;
  text-decoration: inherit;
}

.stack{
  max-width: 600px;
  margin: 8px;
  margin-top: 16px;
}

.React,.Gitlab,.Docker,.CSS,.VScode,.VS,.SQL,.WSL, .Php, .Html, .phpmyadmin,.Mysql{
  display: inline-block;
  background-color: #272343;
  border: 2px solid #272343;
  color: #fff;
  padding: 10px 20px;
  margin: 8px;
  margin-left: 0px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}