@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
/* *{
  box-shadow: 0 0 0 3px red inset;    //TO DEBUG CSS
} */

code {
  font-family: 'Poppins', sans-serif;
}